@import "normalize.css";
@import "animate.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  background-color: black;
}

#profpic {
  width: 200px;
  margin: 0 auto;
  display: block;
}

#changepic input[type="file"] {
  margin: 0 auto;
  display: block;
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(200, 200, 200, 0.3);
  color : #fff;
  font-weight: bold;
  border: 2px inset #d8aa11;
  padding: 10px 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #E4D087;
  color: #E4D087;
  padding: 10px 50px;
  display: block;
  margin: auto;
}

input[type="text"], input[type="password"] {
  display: block;
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(200, 200, 200, 0.3);
  color : #fff;
  font-weight: bold;
  border: 2px inset #d8aa11;
  padding: 10px 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
