@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import "normalize.css";
@import "animate.css";

.toolbar {
  background-color: inherit;
}

.toolbar #logo {
  width: 50px;
}

.menu {
  margin: 150px;
  color: #fff;
  text-decoration: none;
  font: 1em "Fira Sans",sans-serif;
}

#active {
  color: #E4D087;
}
