@import "normalize.css";
@import "animate.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  background-color: black;
  color: white;
}

div.photo {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 3px;
  border-right: 0px;
  border-style: solid;
  border-color: #E4D087
}

.photo img {
  width: 1100px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%) blur(1px); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(1px);
}

.photo img:hover {
  width: 1100px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-filter: grayscale(0%) blur(0px); /* Safari 6.0 -  9.0 */
  filter: grayscale(0%) blur(0px);
}

h2, h4 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 30px;
  color: #e0dfdc;
  background-color: inherit;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

h4 {
  font-size: 20px;
}
