@import "normalize.css";
@import "animate.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  background-image: url(../images/background_index.jpg);
  background-size: cover;
}

img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

h1 {
  font: 5em 'Handlee', cursive;
  color: #fff;
  text-align: center;
}

h3 {
  font-family: 'Slabo 27px', serif;
  color: #E4D087;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

input[type="text"], input[type="password"] {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(200, 200, 200, 0.3);
  color : #fff;
  font-weight: bold;
  border: 2px inset #d8aa11;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin: 20px;
}

.button {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #E4D087;
  color: #E4D087;
  padding: 10px 50px;
  margin: 20px;
}

.loginBox {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  position: absolute;
  padding-top: 20px;
  margin-top: -100px;
  margin-left: -200px;
  width: 400px;
  height: 220px;
  left: 50%;
  top: 50%;
}

#inpUsernameLogin, #inpPasswordLogin{
  margin-left: 60px;
}

#btnLogin {
  margin-left:20px;
}

#signUp {
  color: #d8d5cb;
  text-decoration: none;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}

#signUp:hover {
  color: #d6aa0a;
}

#anim {
  font: 5em Arial;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
