@import "normalize.css";
@import "animate.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body{
	background-image: url(../images/background_signup.jpg);
	background-size: cover;
}

h1 {
  font-family: 'Slabo 27px', serif;
  color: #E4D087;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

input[type="text"], input[type="password"] {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(200, 200, 200, 0.3);
  color : #fff;
  font-weight: bold;
  border: 2px inset #d8aa11;
  padding: 10px 50px;
  text-align: center;
  display: block;
	margin-left: 55px;
  margin-top: 20px;
	margin-bottom: 20px;
}

.signUpBox {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  position: absolute;
  padding-top: 20px;
  margin-top: -100px;
  margin-left: -200px;
  width: 400px;
  height: 220px;
  left: 50%;
  top: 50%;
}

.button {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #E4D087;
  color: #E4D087;
  padding: 10px 50px;
  margin: 20px;
}

#logoBarbagi{
	display: block;
 	margin: 0 auto;
  width: 200px;
}

#confirmMessage{
  color: #E4D087;
  position: absolute;
  margin-top: -170px;
  margin-left: 50px;
  display: inline;
  z-index: 1;
}
