@import "normalize.css";
@import "animate.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
		background-color: black;
		color: #fff;
}

h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 30px;
  color: #e0dfdc;
  background-color: inherit;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

#ch td {
	border-left: 3px;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 3px;
	border-style: solid;
	border-color: #E4D087;
}

::-webkit-input-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
:-moz-placeholder {
  color: #fff;
  opa	city: 1;
}

p {
	text-align: center;
	font: 1em "Fira Sans",sans-serif;
	color : #fff;
}

input[type="text"], input[type="file"] {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(200, 200, 200, 0.3);
  color : #fff;
  font-weight: bold;
  border: 2px inset #d8aa11;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 40px;
}

.button {
  font: 1em "Fira Sans",sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #E4D087;
  color: #E4D087;
  padding: 10px 50px;
  display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 115px;
}

select#dropdown {
	font: 1em "Fira Sans",sans-serif;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
